version: "3.9"

services:
  db:
    image: postgres:17-alpine
    container_name: deputedex-db
    restart: always
    ports:
      - "5432:5432"
    env_file:
    - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d deputedex"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  pgdata: